<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_BD9ULo2aqtmgIOZGylqmWB_KT7ix3cI</string>
	<key>GCM_SENDER_ID</key>
	<string>907656246957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PTLB.courtly</string>
	<key>PROJECT_ID</key>
	<string>courtly-65512</string>
	<key>STORAGE_BUCKET</key>
	<string>courtly-65512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907656246957:ios:61dc80817d06b1d83cf824</string>
</dict>
</plist>